.top-navigation {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #ddd;
    z-index: 9999;
    background: #fff;
    margin: 0;
    padding: 0;
}

.top-navigation > .content {
  height: 4.375rem;
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
}

.top-navigation .links {
  float: right;
  color: #838994;
  font-size: 1.04rem;
  margin-top: 1.7rem;
}

ul, ol {
  list-style-type: none;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 1.563rem;
}

.top-navigation .links li.active {
  color: #4C5058;
  font-weight: 500;
}

.top-navigation .logo {
  height: 4.375rem;
  width: 1.7em;
}







































